In [27]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [28]:
df = pd.read_csv("D:/Cure/IIT/train_data_covid.csv")
df.head(3)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,OxygenTanks,PopulationDensityPerSqKm
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,8262,867
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,9136,61
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2,3826,316

In [29]:
df.drop(columns=["Time","ConfirmedIndianNational", "ConfirmedForeignNational"], inplace=True)

In [30]:
df["Date"] = pd.to_datetime(df["Date"])

In [31]:
label_encoder = LabelEncoder()
df["State/UnionTerritory"] = label_encoder.fit_transform(df["State/UnionTerritory"])

In [32]:
df["Day"] = df["Date"].dt.day
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year
df["Weekday"] = df["Date"].dt.weekday

In [33]:
scaler = MinMaxScaler()
df[["State/UnionTerritory","Cured", "State/UnionTerritory","Deaths", "Confirmed", "OxygenTanks", "PopulationDensityPerSqKm","Day","Month","Year","Weekday"]] = scaler.fit_transform(df[["State/UnionTerritory","Cured", "State/UnionTerritory","Deaths", "Confirmed", "OxygenTanks", "PopulationDensityPerSqKm","Day","Month","Year","Weekday"]])

In [34]:
df.drop(columns=["Date"], inplace=True)

In [35]:
df.dropna(inplace=True)

In [36]:
X = df.drop(columns=["Deaths"])
y = df["Deaths"]

In [37]:
df

,Sno,State/UnionTerritory,Cured,Deaths,Confirmed,OxygenTanks,PopulationDensityPerSqKm,Day,Month,Year,Weekday
0,1,0.461538,0.000000,0.000000,1.859271e-07,0.826265,0.751111,0.966667,0.000000,0.0,0.500000
1,2,0.461538,0.000000,0.000000,1.859271e-07,0.913683,0.239365,1.000000,0.000000,0.0,0.666667
2,3,0.461538,0.000000,0.000000,3.718542e-07,0.382577,0.401270,0.000000,0.090909,0.0,0.833333
3,4,0.461538,0.000000,0.000000,5.577813e-07,0.978996,0.712381,0.033333,0.090909,0.0,1.000000
4,5,0.461538,0.000000,0.000000,5.577813e-07,0.088118,0.434921,0.066667,0.090909,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
14996,14997,0.512821,0.000753,0.000172,8.863145e-04,0.404581,0.511746,0.533333,0.363636,1.0,0.000000
14997,14998,0.538462,0.130479,0.085806,1.359843e-01,0.119424,0.578413,0.533333,0.363636,1.0,0.000000
14998,14999,0.564103,1.000000,1.000000,1.000000e+00,0.928986,0.324444,0.533333,0.363636,1.0,0.000000
14999,15000,0.589744,0.006770,0.007093,7.386698e-03,0.057512,0.388571,0.533333,0.363636,1.0,0.000000
15000,15001,0.615385,0.003829,0.003927,4.338051e-03,0.019004,0.526984,0.533333,0.363636,1.0,0.000000

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training set shape:", X_train.shape, y_train.shape)
print("Validation set shape:", X_val.shape, y_val.shape)

Training set shape: (12000, 10) (12000,)
Validation set shape: (3001, 10) (3001,)

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np


def modified_mape(y_true, y_pred):
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    
    n = len(y_true)
    mape_sum = 0
    
    for i in range(n):
        A_i = y_true[i]
        F_i = y_pred[i]
        
        if A_i != 0:
            mape_sum += abs((A_i - F_i) / A_i) * (1 + abs((A_i - F_i) / A_i))
        else:
            mape_sum += abs(A_i - F_i)
    
    mmape = (1 / n) * mape_sum
    return mmape


X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)


models = {
    
    "Random Forest": RandomForestRegressor(random_state=42),
    
}


model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [40]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [41]:
test_df = pd.read_csv("D:/Cure/IIT/test_data_covid.csv")

In [42]:
test_df.drop(columns=[ "Time","ConfirmedIndianNational", "ConfirmedForeignNational"], inplace=True)

In [43]:
test_df["Date"] = pd.to_datetime(test_df["Date"])

In [44]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

test_df['State/UnionTerritory'] = le.fit_transform(test_df['State/UnionTerritory'])

In [45]:
test_df["Year"] = test_df["Date"].dt.year
test_df["Month"] = test_df["Date"].dt.month
test_df["Day"] = test_df["Date"].dt.day
test_df["Weekday"] = test_df["Date"].dt.weekday

In [46]:
test_df

,Sno,Date,State/UnionTerritory,Cured,Confirmed,OxygenTanks,PopulationDensityPerSqKm,Year,Month,Day,Weekday
0,15001,2021-05-17,28,18478,23332,191,514,2021,5,17,0
1,15002,2021-05-17,29,6687,8829,1111,563,2021,5,17,0
2,15003,2021-05-17,30,13767,18076,9896,577,2021,5,17,0
3,15004,2021-05-17,31,514532,612224,6091,615,2021,5,17,0
4,15005,2021-05-17,32,65689,84506,220,573,2021,5,17,0
...,...,...,...,...,...,...,...,...,...,...,...
3105,18106,2021-08-11,37,638410,650353,8796,659,2021,8,11,2
3106,18107,2021-08-11,38,77811,80660,9330,488,2021,8,11,2
3107,18108,2021-08-11,40,334650,342462,6290,686,2021,8,11,2
3108,18109,2021-08-11,39,1685492,1708812,723,115,2021,8,11,2
3109,18110,2021-08-11,41,1506532,1534999,5380,624,2021,8,11,2

In [47]:
ms = MinMaxScaler()
test_df["State/UnionTerritory"] = ms.fit_transform(test_df[["State/UnionTerritory"]])
test_df["Day"] = ms.fit_transform(test_df[["Day"]])
test_df["Cured"] = ms.fit_transform(test_df[["Cured"]])
test_df["Confirmed"] = ms.fit_transform(test_df[["Confirmed"]])
test_df["OxygenTanks"] = ms.fit_transform(test_df[["OxygenTanks"]])
test_df["PopulationDensityPerSqKm"] = ms.fit_transform(test_df[["PopulationDensityPerSqKm"]])
test_df["Month"] = ms.fit_transform(test_df[["Month"]])
test_df["Year"] = ms.fit_transform(test_df[["Year"]])
test_df["Weekday"] = ms.fit_transform(test_df[["Weekday"]])

In [23]:


test_df.drop(["Date"], axis=1, inplace=True)

In [24]:
test_df

,Sno,State/UnionTerritory,Cured,Confirmed,OxygenTanks,PopulationDensityPerSqKm,Year,Month,Day,Weekday
0,15001,0.682927,0.002390,0.002885,0.018913,0.537143,0.0,0.0,0.533333,0.000000
1,15002,0.707317,0.000475,0.000604,0.110978,0.572143,0.0,0.0,0.533333,0.000000
2,15003,0.731707,0.001625,0.002059,0.990093,0.582143,0.0,0.0,0.533333,0.000000
3,15004,0.756098,0.082972,0.095501,0.609327,0.609286,0.0,0.0,0.533333,0.000000
4,15005,0.780488,0.010059,0.012506,0.021815,0.579286,0.0,0.0,0.533333,0.000000
...,...,...,...,...,...,...,...,...,...,...
3105,18106,0.902439,0.103095,0.101497,0.880016,0.640714,0.0,1.0,0.333333,0.333333
3106,18107,0.926829,0.012029,0.011901,0.933453,0.518571,0.0,1.0,0.333333,0.333333
3107,18108,0.975610,0.053751,0.053075,0.629240,0.660000,0.0,1.0,0.333333,0.333333
3108,18109,0.951220,0.273189,0.267962,0.072151,0.252143,0.0,1.0,0.333333,0.333333
3109,18110,1.000000,0.244118,0.240626,0.538177,0.615714,0.0,1.0,0.333333,0.333333

In [25]:
y_pred = model.predict(test_df)

sample_submission = pd.DataFrame({'Sno': test_df['Sno'], 'Deaths': y_pred})
sample_submission.to_csv('sample_submission4.csv', index=False)

C:\Users\J.SHIMRIN SULTHANA\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)